# Ignore Terraform state files
terraform.tfstate
terraform.tfstate.backup

# Ignore any .tfstate files generated in subdirectories
*.tfstate
*.tfstate.*

# Ignore crash logs from Terraform
crash.log

# Ignore Terraform variable files
*.tfvars
*.tfvars.json

# Ignore override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore Terraform CLI configuration file
.terraformrc
terraform.rc

# Ignore the .terraform directory that contains Terraform cache and plugins
.terraform/

